//== Typography
//## Font, line-height, and color for body text, headings, and more.
$font-family-clearsans-reg	: "clear_sansregular",Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-clearsans-light: "clear_sanslight",Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-base			: $font-family-clearsans-light;
	
$screen-xs-max: 768px;